:root {
  --btn-background-color: #4d5ae5;
  --links-hover-color: #404bbf;
  --body-text-color: #434455;
  --title-text-color: #2e2f42;
  --base-icons-color: #8e8f99;
  --white-text-and-background: #ffffff;
  --anim-tranz-parameters: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
  background-color: var(--white-text-and-background);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  max-width: 1440px;
  margin: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 96px 15px;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.card-list {
  display: flex;
}

.logo-link {
  display: inline-block;
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-background-color);
}

.logo-link-studio {
  color: var(--title-text-color);
}

.logo-link-studio-white {
  color: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .logo-link {
    margin-right: 76px;
  }
}
.menu-burger-link {
  display: block;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  padding: 0;
}
.menu-burger-link .menu-burger-ico {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-burger-conteiner {
    display: none;
  }
}
.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .menu-item:not(:last-child) {
    margin-right: 40px;
  }
  .menu-link {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color var(--anim-tranz-parameters);
  }
  .menu-link:hover, .menu-link:focus {
    color: var(--links-hover-color);
  }
  .activ-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    background-color: var(--links-hover-color);
    border-radius: 2px;
  }
}
.adress-conteiner {
  display: none;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .adress-conteiner {
    display: block;
  }
  .adress-item:not(:last-child) {
    margin-bottom: 12px;
  }
  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--body-text-color);
    transition: color var(--anim-tranz-parameters);
  }
  .contact-link:hover, .contact-link:focus {
    color: var(--links-hover-color);
  }
}
@media screen and (min-width: 1158px) {
  .adress-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }
  .adress-list {
    display: flex;
    align-items: center;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.modal-close-link {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  transition: background-color var(--anim-tranz-parameters), color var(--anim-tranz-parameters);
}
.modal-close-link:hover, .modal-close-link:focus {
  background-color: var(--links-hover-color);
  color: #ffffff;
}

.modal-page-icon {
  fill: currentColor;
}

.title {
  color: var(--title-text-color);
  margin-bottom: 72px;
  text-align: center;
}

.button {
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background-color: var(--btn-background-color);
  border: none;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--btn-background-color);
  transition: background-color var(--anim-tranz-parameters);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--links-hover-color);
}

.social-list-icon {
  fill: #f4f4fd;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #E7E9FC;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1158px) {
  .page-header-container {
    max-width: 1158px;
    margin: auto;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 40px 40px;
  background-color: white;
  overflow-y: auto;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform var(--anim-tranz-parameters);
}
.mobile-menu .social-list {
  gap: 56px;
  margin-bottom: 40px;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-list {
  margin-bottom: 284px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  transition: color var(--anim-tranz-parameters);
}
.mobile-menu-link:hover, .mobile-menu-link:focus {
  color: var(--links-hover-color);
}

.mobile-adress-conteiner {
  font-style: normal;
  margin-bottom: 48px;
}

.mobile-adress-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-adress-item:first-child .mobile-contact-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4D5AE5;
}

.mobile-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  transition: color var(--anim-tranz-parameters);
}
.mobile-contact-link:hover, .mobile-contact-link:focus {
  color: var(--links-hover-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.hero-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-section/bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2e2f42;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 112px 15px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-section/bg@2x.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--white-text-and-background);
}

.hero-btn {
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text-and-background);
  transition: background-color var(--anim-tranz-parameters);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--links-hover-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1158px) {
  .hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
.features-item {
  display: block;
}
.features-item:not(:last-child) {
  margin-bottom: 72px;
}

.feature-icon-continer {
  display: none;
}

.features-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .features-card-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-item:not(:last-child) {
    margin-bottom: 0;
  }
  .features-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .features-section {
    padding-bottom: 0;
  }
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .feature-icon-continer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .features-text {
    font-weight: 400;
  }
}
.what-we-do {
  display: none;
}

@media screen and (min-width: 1158px) {
  .what-we-do {
    display: block;
    padding-bottom: 120px;
  }
  .card-list {
    justify-content: center;
    gap: 24px;
  }
  .doing-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
}
.team {
  background: #f4f4fd;
}

.team-container .card-list {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.team-titlt {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text-and-background);
}

.team-card-content {
  padding: 32px 0;
}

.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .team-container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .team-container {
    width: 1158px;
  }
}
.customers-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.clients-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.client-list-item {
  width: calc((100% - 24px) / 2);
  height: 88px;
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--base-icons-color);
  border-radius: 4px;
  color: var(--base-icons-color);
  transition: color var(--anim-tranz-parameters), border-color var(--anim-tranz-parameters);
}
.client-list-link:hover, .client-list-link:focus {
  border-color: var(--links-hover-color);
  color: var(--links-hover-color);
}

.client-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .client-list-item {
    width: calc((100% - 48px) / 3);
  }
  .customers-container {
    padding-left: 108px;
    padding-right: 108px;
  }
}
@media screen and (min-width: 1158px) {
  .client-list-item {
    width: calc((100% - 120px) / 6);
  }
  .customers-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.footer {
  background: #2e2f42;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px 24px;
}

.footer-logo-cont {
  width: 268px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer .logo-link {
  padding: 0;
  margin-bottom: 16px;
  margin-right: 0;
}
.footer .social-list {
  gap: 16px;
}
.footer .social-list-link:hover, .footer .social-list-link:focus {
  background-color: #31d0aa;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-text-and-background);
  margin-bottom: 16px;
}

.foter-form-conteiner {
  width: 100%;
}

.footer-form {
  color: #ffffff;
}

.footer-form-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form-elem-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  opacity: 0.3;
  background-color: var(--title-text-color);
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-form-btn {
  display: flex;
  border: none;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--btn-background-color);
  border-radius: 4px;
  transition: background-color var(--anim-tranz-parameters);
}
.footer-form-btn::after {
  content: "";
  display: inline-block;
  margin-left: 16px;
  width: 24px;
  height: 24px;
  background-image: url(../images/telegram_icon.svg);
}
.footer-form-btn:hover, .footer-form-btn:focus {
  background-color: var(--links-hover-color);
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 768px;
    padding-left: 108px;
    justify-content: flex-start;
  }
  .footer-logo-cont {
    justify-content: flex-start;
  }
  .footer-social-cont {
    align-items: start;
  }
  .footer-form-elem-cont {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }
  .footer-form-text {
    text-align: left;
  }
  .footer-form-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    width: 1158px;
    gap: 80px;
    padding-left: 15px;
  }
  .footer-logo-cont {
    width: 264px;
    margin-right: 40px;
  }
  .foter-form-conteiner {
    width: fit-content;
  }
  .footer-form-input {
    opacity: 1;
  }
}
.filter-btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-top: 48px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .filter-btn-list {
    justify-content: center;
  }
}
.filter-btn {
  color: var(--btn-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow var(--anim-tranz-parameters), background-color var(--anim-tranz-parameters), color var(--anim-tranz-parameters), border var(--anim-tranz-parameters);
}
.filter-btn:hover, .filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--links-hover-color);
  color: var(--white-text-and-background);
  border: 1px solid transparent;
}

.project-cards {
  margin-bottom: 48px;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-card {
  flex-basis: 100%;
}
.project-card img {
  width: 100%;
  height: auto;
}

.project-link {
  display: block;
  transition: box-shadow var(--anim-tranz-parameters);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-link:hover .project-hover-info, .project-link:focus .project-hover-info {
  transform: translateY(0);
}

.project-hover-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--anim-tranz-parameters);
}

.project-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-card-img {
  position: relative;
  overflow: hidden;
}

.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.sub-title {
  color: var(--title-text-color);
  margin-bottom: 8px;
}

.project-card-text {
  color: var(--body-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .project-cards {
    justify-content: flex-start;
    gap: 72px 24px;
  }
  .project-card {
    flex-basis: 356px;
  }
  .project-card img {
    width: 100%;
  }
}
@media screen and (min-width: 1158px) {
  .project-cards {
    justify-content: center;
    gap: 48px 24px;
    margin-bottom: 120px;
  }
  .project-card {
    flex-basis: 360px;
  }
  .project-card img {
    width: 100%;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px;
  min-width: 408px;
  min-height: 576px;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-link {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  transition: background-color var(--anim-tranz-parameters), color var(--anim-tranz-parameters);
}
.modal-close-link:hover, .modal-close-link:focus {
  background-color: var(--links-hover-color);
  color: #ffffff;
}

.modal-page-icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modam-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--title-text-color);
}

.modal-form-fild-conteiner {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.modal-form-labe {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: var(--base-icons-color);
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  transition: border-color var(--anim-tranz-parameters);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--btn-background-color);
}
.modal-form-input:focus + .modal-input-ico {
  fill: var(--btn-background-color);
}

.modal-input-ico {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--anim-tranz-parameters);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  transition: border-color var(--anim-tranz-parameters);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--btn-background-color);
}

.modal-form-policy-labe {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-policy-labe::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color var(--anim-tranz-parameters);
}

.policy-input:checked + .modal-form-policy-labe::before {
  background-color: var(--links-hover-color);
  background-image: url(../images/checked_icon.svg);
  background-size: 8px 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-policy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--btn-background-color);
  transition: color var(--anim-tranz-parameters);
}
.modal-policy-link:hover, .modal-policy-link:focus {
  color: var(--links-hover-color);
}

.modal-form-submit {
  min-width: 169px;
  height: 56px;
  background-color: var(--btn-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-and-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  align-self: center;
  transition: background-color var(--anim-tranz-parameters);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: var(--links-hover-color);
}/*# sourceMappingURL=main.css.map */