
.features-item {
    display: block;
    &:not(:last-child){
        margin-bottom: 72px;
    }
}

.feature-icon-continer {
    display: none;
}

.features-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
    .features-card-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        
    }
    .features-item {
        flex-basis: calc((100% - 24px)/2);
        &:not(:last-child) {
                margin-bottom: 0;
            }
    }
    .features-title {
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .features-section {
        padding-bottom: 0;
    }

    .features-item {
        flex-basis: calc((100% - (3 * 24px))/4);
    }

    .feature-icon-continer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    .features-text {
        font-weight: 400;
    }
}