.header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #E7E9FC;
    
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
   
}
@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1158px) {
    .page-header-container {
        max-width: 1158px;
        margin: auto;
    }
}