.logo-link {
    display: inline-block;
    padding: 24px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--btn-background-color);
}
@media screen and (min-width: 768px) { 
    .logo-link {
        margin-right: 120px;
    }
}

@media screen and (min-width: 1440px) {
    .logo-link {
        margin-right: 76px;
    }
}