.container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }
}
@media screen and (min-width: 1440px) {
    .container {
        min-width: 1440px;
    }
}