:root {
    --btn-background-color: #4d5ae5;
    --links-hover-color: #404bbf;
    --body-text-color: #434455;
    --title-text-color: #2e2f42;
    --base-icons-color: #8e8f99;
    --white-text-and-background: #ffffff;
    --anim-tranz-parameters: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}